
@font-face {
    font-family: 'Dolbomche_R';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/Dolbomche_R.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:flex-start;
    background: #E9F1E9;
    width: 100vw;
    height: 100vh;
    padding-right: 40px;
}

.intro  {
    margin: 15% auto;  
}
.intro h1  {
    color: #070707;
    font-size: 4.2rem;
    font-weight: 700;
    font-family: 'Dolbomche_R';
}

.intro h4{
    color: #070707;
    font-size: 1.2rem;
    font-weight: 300;  
    font-family: 'Dolbomche_R';
}
